$main: #cc2a41;
$white: #ece9e9;
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Roboto, sans-serif;
   outline: none;
   border: 0;
   text-decoration: none;
   list-style: none;
}
::-webkit-scrollbar {
   width: 0;
}
a {
   color: #000;
   text-decoration: none;
}
img {
   user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   color: $main;
}
html,
body,
.wrapper {
   height: 100%;
}
.wrapper {
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   &.hidden {
      overflow: hidden;
   }
}
main {
   flex: auto;
}
[class*="__container"] {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0px 15px;
}
.subtitle {
   font-weight: 400;
   font-size: calc(20px + (22.5 - 20) * ((100vw - 320px) / (1320 - 320)));
   line-height: 150%;
}
.header {
   position: relative;
   background: #fec77e;
   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #000;
   }
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .menu {
      font-weight: 700;
      font-size: 19px;
      white-space: nowrap;
      &__items {
         display: flex;
         gap: 23px;
      }
      &__link {
         padding: 15px 0px;
         transition: color 0.3s ease;
         &:hover {
            color: $main;
         }
      }
   }
   &__logo {
      padding: 0px 20px;
      display: flex;
      text-align: center;
      span {
         font-weight: 700;
         font-size: 80px;
         font-size: calc(40px + (76 - 40) * ((100vw - 320px) / (1320 - 320)));
         color: $main;
      }
   }
   &__btn {
      button {
         padding: 14px 24px;
         width: 100%;
         height: 53px;
         background: $main;
         border-radius: 10px;
         font-family: Roboto, sans-serif;
         font-weight: 700;
         color: $white;
         text-transform: uppercase;
         white-space: nowrap;
         cursor: pointer;
         transition: all 0.4s ease;
         &:hover {
            background: #aa2f3c;
         }
      }
   }
}
.menu-collapse {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   top: -100%;
   left: 0;
   background: $white;
   z-index: 2;
   transition: top 0.5s ease;
   &.active {
      top: 0;
   }
   &__close {
      position: absolute;
      cursor: pointer;
      top: 7%;
      left: 10%;
      width: 40px;
      height: 40px;
      &:hover span {
         background: $main;
      }
      span {
         position: absolute;
         top: 20px;
         display: block;
         transform: rotate(45deg);
         width: 100%;
         height: 2px;
         background: #000;
         transition: background 0.3s ease;
         &:first-child {
            transform: rotate(-45deg);
         }
      }
   }
   .list {
      &__item {
         font-size: 54px;
         font-size: calc(34px + (54 - 34) * ((100vw - 320px) / (1320 - 320)));
         line-height: 180%;
         text-align: center;
      }
      &__link {
         transition: color 0.3s ease;
         &:hover {
            color: $main;
         }
      }
   }
}
.intro {
   padding: 85px 0px calc(110px + (170.5 - 110) * ((100vw - 320px) / (1320 - 320))) 0px;
   background: #fec77e;
   &__text {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 55px;
      &::before {
         content: "hover for flavors";
         position: absolute;
         top: 58%;
         left: 7%;
         max-width: 150px;
         font-family: "Roboto";
         font-weight: 400;
         font-size: 27px;
         line-height: 27px;
         text-align: center;
         color: #bd571b;
         text-transform: uppercase;
      }
   }
   &__title {
      font-weight: 400;
      font-size: calc(64px + (146 - 64) * ((100vw - 320px) / (1320 - 320)));
      line-height: 103%;
   }
   &__slider {
      position: relative;
      height: 500px;
      margin-bottom: 127px;
      user-select: none;
      .slick {
         &-list {
            overflow: hidden;
            height: 100%;
            display: flex;
            align-items: center;
         }
         &-track {
            display: flex;
         }
         &-slide {
            text-align: center;
            transform: scale(0.63);
         }
         &-center {
            transform: scale(1);
            transition: all 0.6s ease;
         }
         &-arrow {
            position: absolute;
            bottom: 65%;
            bottom: calc(10% + (185 - 10) * ((100vw - 320px) / (1320 - 320)));
            width: 96px;
            height: 58px;
            font-size: 0;
            cursor: pointer;
            z-index: 1;
            transition: all 0.4s ease;
            user-select: none;
            &:hover {
               transform: scale(1.05);
            }
         }
         &-prev {
            left: calc(5px + (24 - 5) * ((100vw - 320px) / (1320 - 320)));
            background: url(../img/arrow-prev.png) 0 0 / 100% no-repeat;
         }
         &-next {
            right: calc(5px + (24 - 5) * ((100vw - 320px) / (1320 - 320)));
            background: url(../img/arrow-next.png) 0 0 / 100% no-repeat;
         }
      }
   }
   .featured {
      &__title {
         text-align: center;
         text-transform: uppercase;
         font-weight: 400;
         font-size: 31px;
         margin-bottom: 48px;
      }
      &__items {
         display: flex;
         justify-content: center;
         gap: 80px;
         align-items: center;
         flex-wrap: wrap;
      }
      &__item svg {
         fill: #000;
         transition: fill 0.3s ease;
         &:hover {
            fill: $main;
         }
      }
   }
}
.advantages {
   border: 2px solid $main;
   &__container {
      display: flex;
      align-items: center;
      padding-right: 0;
   }
   .item {
      &:not(:last-child) {
         border-bottom: 2px solid $main;
      }
      &__text {
         padding-right: 50px;
      }
      &__title {
         font-weight: 400;
         line-height: 120%;
         font-size: calc(27px + (59 - 36) * ((100vw - 320px) / (1320 - 320)));
         margin-bottom: 27px;
         &_smaller {
            font-size: calc(27px + (52.2 - 36) * ((100vw - 320px) / (1320 - 320)));
         }
      }
      &__image {
         border-left: 2px solid $main;
         picture {
            display: flex;
         }
      }
   }
}
.info {
   position: relative;
   padding: calc(130px + (186 - 130) * ((100vw - 320px) / (1320 - 320))) 0px
      calc(130px + (157 - 130) * ((100vw - 320px) / (1320 - 320))) 0px;
   &::after {
      content: "";
      background: url(../img/info_bg.png);
      background: url(../img/info_bg.webp);
      background-size: calc(160px + (333 - 160) * ((100vw - 320px) / (1320 - 320)));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
   }
   background-color: $main;
   &__text {
      h2 {
         font-weight: 400;
         font-size: 112px;
         font-size: 34px;
         font-size: calc(34px + (83 - 34) * ((100vw - 320px) / (1320 - 320)));
         line-height: 150%;
         text-align: center;
         text-transform: uppercase;
         color: $white;
      }
   }
}
.milkshakes {
   padding: 60px 0px calc(140px + (505 - 140) * ((100vw - 320px) / (1320 - 320))) 0px;
   background: url(../img/milkshakes__bg.png) no-repeat center;
   background: url(../img/milkshakes__bg.webp) no-repeat center;
   background-size: cover;
   z-index: -1;
   &__text {
      position: relative;
      text-align: center;
      width: 100%;
      background: rgba(236, 233, 233, 0.77);
      padding: 60px 15px;
      &::after {
         content: "try today";
         position: absolute;
         top: 100px;
         right: calc(20px + (130 - 20) * ((100vw - 991px) / (1320 - 991)));
         max-width: 100px;
         font-weight: 400;
         font-size: 32px;
         font-size: calc(26px + (28.3 - 26) * ((100vw - 991px) / (1320 - 991)));
         line-height: 100%;
         text-align: center;
         text-transform: uppercase;
         color: $main;
      }
   }
   &__title {
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 64px;
      font-size: calc(44px + (56.5 - 44) * ((100vw - 320px) / (1320 - 320)));
      line-height: 135%;
      color: #000;
      span {
         text-transform: uppercase;
         color: $main;
      }
   }
}
.events {
   padding: calc(50px + (90 - 50) * ((100vw - 320px) / (1320 - 320))) 0px
      calc(70px + (97 - 70) * ((100vw - 320px) / (1320 - 320))) 0px;
   background: url(../img/events_bg.png);
   background: url(../img/events_bg.webp) no-repeat center;
   background-size: cover;
   background-color: #fec77e;
   &__container {
      display: flex;
      justify-content: space-between;
   }
   &__text {
      max-width: 45%;
   }
   &__title {
      max-width: 300px;
      font-size: 112px;
      font-size: calc(70px + (96.3 - 70) * ((100vw - 320px) / (1320 - 320)));
      line-height: 80%;
   }
   &__subtitle {
      color: $main;
   }
   &__image {
      position: relative;
      img {
         max-width: 100%;
      }
      &::after {
         content: "request a quote";
         position: absolute;
         top: 55%;
         right: 0;
         max-width: 170px;
         font-weight: 400;
         font-size: calc(22px + (28.3 - 22) * ((100vw - 320px) / (1320 - 320)));
         line-height: 100%;
         text-align: center;
         text-transform: uppercase;
         color: $main;
      }
   }
}
.follow {
   padding: 135px 0px 112px 0px;
   padding-top: calc(65px + (109 - 65) * ((100vw - 320px) / (1320 - 320)));
   padding-bottom: calc(65px + (94.5 - 65) * ((100vw - 320px) / (1320 - 320)));
   background: $main;
   &__text {
      text-align: center;
   }
   &__title {
      margin-bottom: calc(15px + (36.3 - 15) * ((100vw - 320px) / (1320 - 320)));
      font-size: calc(34px + (82.75 - 34) * ((100vw - 320px) / (1320 - 320)));
      line-height: 150%;
      color: $white;
      text-transform: uppercase;
   }
   &__subtitle {
      color: $white;
      max-width: 65%;
      margin: 0px auto calc(50px + (67.6 - 50) * ((100vw - 320px) / (1320 - 320))) auto;
   }
   &__slider {
      position: relative;
      user-select: none;
      .slick {
         &-list {
            overflow: hidden;
            height: 100%;
            display: flex;
            align-items: center;
         }
         &-track {
            display: flex;
            gap: 31px;
         }
         &-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            margin-top: 45px;
            li {
               list-style: none;
               &.slick-active button {
                  background: rgba(255, 255, 255, 0.745);
               }
            }
            button {
               font-size: 0;
               width: 8px;
               height: 8px;
               background: rgba(255, 255, 255, 0.655);
               cursor: pointer;
            }
         }
         &-arrow {
            position: absolute;
            top: 38%;
            width: 45px;
            height: 45px;
            font-size: 0;
            cursor: pointer;
            z-index: 1;
            transition: all 0.4s ease;
            user-select: none;
         }
         &-prev {
            background: url(../img/follow-arrow.png) 0 0 / 100% no-repeat;
            left: 5px;
         }
         &-next {
            background: url(../img/follow-arrow.png) 0 0 / 100% no-repeat;
            right: 5px;
         }
      }
   }
}
.footer {
   padding: 160px 0px 130px 0px;
   background: url(../img/events_bg.png);
   background: url(../img/events_bg.webp) no-repeat center;
   background-size: cover;
   background-color: #fec77e;
   &__text {
      position: relative;
      margin-bottom: 140px;
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         bottom: -33%;
         height: 1px;
         background: rgba(99, 43, 11, 0.63);
      }
   }
   &__title {
      font-weight: 400;
      font-size: 96px;
      font-size: calc(48px + (74.5 - 48) * ((100vw - 320px) / (1320 - 320)));
      line-height: 140%;
      text-align: center;
   }
   &__items {
      display: flex;
      justify-content: space-around;
      margin-bottom: 70px;
   }
   .copyright {
      text-align: center;
      &__text {
         font-size: 21px;
         font-size: calc(16px + (18.8 - 16) * ((100vw - 320px) / (1320 - 320)));
      }
   }
   .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__image {
         margin-bottom: 28px;
      }
      &__text {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &__title {
         margin-bottom: 16px;
         font-weight: 400;
         font-size: 88px;
         font-size: calc(36px + (64.7 - 36) * ((100vw - 320px) / (1320 - 320)));
         line-height: 130%;
         text-transform: uppercase;
      }
      &__phone-number {
         margin-bottom: 32px;
         font-weight: 400;
         font-size: 48px;
         font-size: calc(24px + (37.3 - 24) * ((100vw - 320px) / (1320 - 320)));
         line-height: 150%;
         color: #cc2a41;
      }
   }
}

@media (max-width: 1033px) {
   .advantages {
      border: 1px solid $main;
      &__container {
         flex-direction: column-reverse;
         padding-right: 15px;
      }
      .item {
         padding: 50px 0px;
         &:not(:last-child) {
            border-bottom: 2px solid $main;
         }
         &__text {
            padding-right: 0;
         }
         &__image {
            border-left: 0;
            margin-bottom: 30px;
            img {
               max-width: 100%;
            }
         }
      }
   }
}
@media (max-width: 991px) {
   .intro__text::before,
   .milkshakes__text::after {
      display: none;
   }
   .events {
      &__container {
         flex-direction: column;
         align-items: center;
      }
      &__text {
         max-width: 100%;
      }
      &__title {
         max-width: 100%;
      }
   }
}
@media (max-width: 559px) {
   .header {
      &__container {
         justify-content: space-around;
      }
      .menu {
         &__item {
            display: none;
            &:first-child {
               display: block;
            }
         }
      }
      &__logo {
         padding-left: 0;
      }
      &__btn {
         display: none;
      }
   }
   .events {
      &__image::after {
         display: none;
      }
   }
   .footer {
      &__items {
         flex-direction: column;
         gap: 70px;
      }
   }
}
